.lb-image {
    border: none !important;
}

.lightbox {
  background: transparent !important;
}

.lb-outerContainer {
  background: transparent !important;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; /* di bawah konten */
}

  /* Pastikan konten di atas partikel */
.about-sec > .container {
    position: relative;
    z-index: 1;
}

#logo {
   	width: 50px;          /* sesuaikan ukuran */
	height: 50px;
  	object-fit: cover;    /* agar tidak gepeng */
  	border-radius: 50%;   /* bikin bulat */
  	border: 2px solid #ffffff33; /* opsional: beri border */
}

.portfolio-item img {
  transition: 0.3s ease-in-out;
}

.portfolio-item:hover img {
  transform: scale(1.05);
  filter: brightness(80%);
}

.portfolio-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.portfolio-desc {
  font-size: 14px;
  color: #ccc;
}

